streamlit
streamlit-authenticator
sqlmodel
SQLAlchemy
psycopg2-binary
alembic
python-jose
python-dotenv
pandas
openpyxl
reportlab
pytest
python-multipart
plotly
streamlit-aggrid==1.2.1
streamlit-extras
st-annotated-text
supabase